.content {
    grid-area: contents;
    background-color:  rgb(255,255,255);
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.see-more {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: var(--color3);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5em;
    text-align: center;
    place-self: left;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-img {
    grid-area: img;
    /* border: 2px solid black; */
    margin: 1em;
    width: 300px;
    object-fit: contain;
}

.project-vid {
    width: 300px;
    margin: 1em;
    
}

.see-more:hover, .see-more:focus {
    background-color: var(--darkbg);
}

.see-more:active {
    background-color: white;
    color: black;
    outline: 2px solid;
}

.text-area {
    height: 100%;
    grid-area: main;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* background-color: rgb(255,255,255,0.9); */
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 900px) {
    .project {
        display: flex;
        flex-direction: column;
    }
    .skill {
        margin: 2em;
    }
    .thumb-img {
        border-radius: 0 0 0.5em 0.5em;
        mask: linear-gradient(180deg, transparent, black, black);
    }
}