
/* html {
    height: 100vh;
} */

body {
    display: flex;
    height: 100%;
    background-image: url('../../assets/images/background-images/skills-page-bg.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #F0EBE9;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.home-nav-bar a:visited {
    color: white;
}

.home-container {
    height: 100%;
    display: grid;
    grid-template-rows: 130px 1fr 1fr 130px;
    grid-template-columns: 2rem 1fr 4fr 2rem;
    grid-template-areas: 
    '. header header .'
    '. aside main .'
    '. aside main .'
    'footer footer footer footer';
    padding: 0px;
    margin: 0px;
}

.home-header {
    grid-area: header;
    line-height: 80px;
}

.profile-img {
    grid-area: img;
    max-height: 200px;
    border-radius: 80%;
}

.home-nav-bar {
    grid-area: aside;
    background-color: #F0EBE9;
}

.about-me {
    line-height: 0px;
    grid-area: title;
}

.content {
    grid-area: contents;
}

.text-area {
    height: 100%;
    grid-area: main;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255,255,255,0.9);
    /* min-width: 50%; */
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 50px 1fr;
    grid-template-areas: 
    'img'
    'title'
    'contents';
}

.home-footer {
    color: white;
    grid-area: footer;
    display: grid;
    grid-template-rows 2fr 1fr;
    grid-template-areas: 
    'links'
    'copyright';
    font-weight: 500;
    bottom: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    margin-top: auto;
    background-color: #2a2929;
    padding: 0px;
}

.home-footer p {
    margin: 5px;
}

.home-footer p a {
    color: white;
}

.home-footer p a:visited {
    color: white;
}

.home-footer p a:active {
    color: rgb(216, 216, 216);
}

.nav-container {
    top: 140px;
    align-self: end;
    position: sticky;
    text-align: center;
    font-size: 18pt;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'home'
    'skills'
    'projects'
    'contact';
    color: white;
}

.nav-container a div {
    justify-content: center;
    vertical-align: middle;
    margin: 5px;
    line-height: 100px;
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

.nav-container div:hover {
    background-color: black;
    color: white;
}

.homebutton {
    grid-area: home;
    background-color: #B51E42;
}

.skillsbutton {
    grid-area: skills;
    background-color: #ED193D;
}

.projectsbutton {
    grid-area: projects;
    background-color: #EF3E37;
}

.contactbutton {
    grid-area: contact;
    background-color: #FBAA19;
}

.copyright {
    grid-area: copyright;
    font-size:10pt;
    vertical-align: bottom;
}

.links {
    grid-area: links;
    text-align: right;
    font-size: 16pt;
}

@media only screen and (max-width: 600px) {
    .home-container {
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
        'header header'
        'aside main'
        'aside main'
        'footer footer';
        margin: 0px;
        padding: 0px;
    }
    .text-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px 1fr 3fr;
    grid-template-areas: 
    'img'
    'title'
    'contents';
    }
    .home-footer {
    height: 80px;
    position: auto;
    }
    body {
    background-position: 90%;
    }
}
