.text-area {
    height: 100%;
    grid-area: main;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255,255,255,0.9);
    padding: 2rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'bio . img';
}

.bio {
    grid-area: bio;
}

.profile-img {
    grid-area: img;
    max-width: 300px;
    place-self: center;
    border: 6px solid var(--darkbg);
    outline: 6px solid var(--color4);
}

@media only screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}