.text-area {
    height: 100%;
    grid-area: main;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255,255,255,0.9);
    padding: 2rem;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'form details'
    'form details'
    'form links';
}

p {
    font-size: inherit;
}

.contact-form {
    grid-area: form;
}

.details {
    grid-area: details;
    font-size: inherit;
}

.links {
    grid-area: links;
    font-size: inherit;
}