.content {
    grid-area: contents;
}

.text-area {
    height: 100%;
    grid-area: main;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255,255,255,0.9);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}